Repository zerodow/NewBaseRN: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier, prettier --write

add eslint and prettier config
  .eslintrc.js
Due: eslint, prettier

add eslint and prettier config 2
  .lintstagedrc.json
  src/screens/LoginScreen/LoginScreen.tsx
Due: eslint, prettier, prettier --write

add eslint and prettier config 3
  .lintstagedrc.json
Due: prettier --write

add bundle-visualizer and patch-package
  .husky/pre-commit
  package.json
  patches/react-native-bundle-visualizer+3.1.3.patch
  yarn.lock
Due: prettier --write

update pre-commit
  .husky/pre-commit
Due: none

add multi env for android
  .gitignore
  .vscode/settings.json
  android/app/build.gradle
  ios/Podfile.lock
  package.json
  src/screens/LoginScreen/LoginScreen.tsx
  yarn.lock
Due: eslint, prettier, prettier --write

Add multi env for ios
  ios/Highland DEV copy-Info.plist
  ios/HighlandApp copy-Info.plist
  ios/HighlandApp.xcodeproj/project.pbxproj
  ios/HighlandApp.xcodeproj/xcshareddata/xcschemes/Highland DEV.xcscheme
  ios/HighlandApp.xcodeproj/xcshareddata/xcschemes/Highland UAT.xcscheme
Due: none

update shorcut path
  App.tsx
  babel.config.js
  ios/Podfile.lock
  package.json
  src/navigators/AppNavigator.tsx
  src/screens/LoginScreen/LoginScreen.tsx
  src/theme/colors.ts
  src/theme/colorsDark.ts
  src/theme/index.ts
  src/theme/spacing.ts
  src/theme/spacingDark.ts
  src/theme/style.ts
  src/theme/styles.ts
  src/utils/useAppTheme.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: eslint, prettier, prettier --write

reconfig env for ios
  ios/Highland DEV-Info.plist
  ios/Highland UAT-Info.plist
  ios/HighlandApp.xcodeproj/project.pbxproj
  ios/HighlandApp.xcodeproj/xcshareddata/xcschemes/Highland DEV.xcscheme
  ios/HighlandApp.xcodeproj/xcshareddata/xcschemes/Highland UAT.xcscheme
  ios/HighlandApp/Info.plist
  src/screens/LoginScreen/LoginScreen.tsx
Due: eslint, prettier

apply theme
  .eslintrc.js
  App.tsx
  package.json
  src/context/ThemeContext.tsx
  src/devtools/ReactotronClient.ts
  src/devtools/ReactotronConfig.ts
  src/hooks/useTheme.ts
  src/navigators/AppNavigator.tsx
  src/screens/LoginScreen/LoginScreen.tsx
  src/storage/keyManager.ts
  src/theme/colors/colors.ts
  src/theme/colors/colorsDark.ts
  src/theme/index.ts
  src/theme/spacing/spacing.ts
  src/theme/spacing/spacingDark.ts
  src/theme/styles.ts
  src/types/theme.d.ts
  src/utils/constant.ts
  src/utils/useAppTheme.ts
  yarn.lock
Due: eslint, prettier, prettier --write

init i18n
  App.tsx
  package.json
  src/i18n/en/en.json
  src/i18n/index.ts
  src/i18n/syncLang.js
  src/i18n/vi/vi.json
  src/navigators/AppNavigator.tsx
  src/screens/LoginScreen/LoginScreen.tsx
  src/storage/keyManager.ts
  src/utils/constant.ts
  src/utils/formatDate.ts
  yarn.lock
Due: eslint, prettier, prettier --write

add stack and tab
  src/components/CommonHeader/index.tsx
  src/components/SafeAreaWrapper/index.tsx
  src/navigators/AppNavigator.tsx
  src/navigators/AuthStack.tsx
  src/navigators/MainTab.tsx
  src/screens/ForgotPassword/index.tsx
  src/screens/GiftScreen/index.tsx
  src/screens/HomeScreen/index.tsx
  src/screens/LoginScreen/LoginScreen.tsx
  src/screens/LoginScreen/index.tsx
  src/screens/MenuScreen/index.tsx
  src/screens/ProfileScreen/index.tsx
  src/screens/QRScreen/index.tsx
  src/screens/RegisterScreen/index.tsx
  src/screens/WelcomeScreen/index.tsx
  src/screens/index.ts
  src/storage/keyManager.ts
  src/theme/colors/colors.ts
  src/theme/colors/colorsDark.ts
  src/theme/commonStyles.ts
Due: eslint, prettier

done setup env for both ios and android
  App.tsx
  ios/HighlandApp.xcodeproj/project.pbxproj
  ios/HighlandApp.xcodeproj/xcshareddata/xcschemes/Highland DEV.xcscheme
  ios/HighlandApp.xcodeproj/xcshareddata/xcschemes/Highland UAT.xcscheme
  ios/HighlandApp.xcodeproj/xcshareddata/xcschemes/HighlandApp.xcscheme
  ios/Podfile
  ios/Podfile.lock
  src/config/config.base.ts
  src/config/config.dev.ts
  src/config/config.prod.ts
  src/config/index.ts
  src/context/ThemeContext.tsx
  src/i18n/index.ts
  src/navigators/AppNavigator.tsx
  src/navigators/navigationUtilities.ts
  src/screens/LoginScreen/index.tsx
  src/screens/ProfileScreen/index.tsx
  src/screens/WelcomeScreen/index.tsx
  src/storage/index.ts
  src/storage/storageKey.ts
  src/theme/commonStyles.ts
Due: eslint, prettier

add network logger and assets folder
  App.tsx
  index.js
  package.json
  src/assets/images/bug.png
  src/assets/index.ts
  src/devtools/NetworkLog.ts
  src/devtools/network-logger/NetworkButton.tsx
  src/devtools/network-logger/index.tsx
  src/navigators/AppNavigator.tsx
  src/navigators/navigationUtilities.ts
  src/screens/LoginScreen/index.tsx
  src/screens/WelcomeScreen/index.tsx
  src/storage/storageKey.ts
  yarn.lock
Due: eslint, prettier, prettier --write

add zustand, move theme controller to zustand
  App.tsx
  package.json
  src/components/CommonHeader/index.tsx
  src/components/SafeAreaWrapper/index.tsx
  src/context/ThemeContext.tsx
  src/hooks/useSystemTheme.ts
  src/hooks/useTheme.ts
  src/screens/WelcomeScreen/index.tsx
  src/storage/storage.ts
  src/storage/storageKey.ts
  src/stores/themeStore.ts
  src/types/theme.d.ts
  src/utils/constant.ts
  yarn.lock
Due: eslint, prettier, prettier --write

fastlane init
  android/Gemfile
  android/Gemfile.lock
  android/fastlane/Appfile
  android/fastlane/Fastfile
  android/fastlane/README.md
  ios/HighlandApp.xcodeproj/project.pbxproj
  ios/Podfile.lock
  ios/fastlane/Appfile
  ios/fastlane/Fastfile
Due: prettier --write

update fastfile
  android/fastlane/Fastfile
  android/fastlane/README.md
Due: prettier --write

update fastfile
  android/fastlane/Fastfile
  package-lock.json
  yarn.lock
Due: prettier --write

update fastlane build
  android/app/build.gradle
  android/fastlane/Fastfile
  android/fastlane/README.md
  android/gradle.properties
  package.json
Due: prettier --write

add tanstack and axios
  App.tsx
  package.json
  src/devtools/ReactotronConfig.ts
  src/i18n/index.ts
  src/screens/LoginScreen/index.tsx
  src/screens/ProfileScreen/index.tsx
  src/services/apiEndPoint.ts
  src/services/auth/authApi.ts
  src/services/auth/authHook.ts
  src/services/index.ts
  src/stores/themeStore.ts
  src/types/theme.d.ts
  src/utils/storage/index.ts
  src/utils/storage/storage.ts
  src/utils/storage/storageKey.ts
  yarn.lock
Due: eslint, prettier, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md}
